<!DOCTYPE html>
<html lang="pt-br">
{%load static%}
<html>
	<head>
		<title>Costurando o Futuro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static  "assets/css/main.css"  %}"/>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							<header id="header">
									<a href="#" class="logo"><strong>Usuário: {{ user.username }}</strong></a>
									<h2> Consturando o Futuro  </h2>
									<ul class="icons">
										<li><a href="#" 
											class="icon brands fa-instagram" target="_blank"> <span class="label">Instagram</span></a></li>
									</ul>
							</header>

							<!-- Banner -->
							{% block content %}
							{% endblock content %}						



							<!-- Section -->
							<section>
									<header class="major">
										<h2>ÚLTIMAS NOTÍCIAS</h2>
									</header>
									<div class="posts">
										<article>
											<a href="https://www.fortaleza.ce.gov.br/noticias/prefeitura-de-fortaleza-entrega-10-atelie-colaborativo-do-projeto-costurando-o-futuro-no-vicente-pinzon" 
											   target="_blank"
											   class="image">
												<img src="{% static  "images/pic01.jpg" %}" alt="" />
											</a>

											<p>Prefeitura de Fortaleza entrega 10º ateliê colaborativo 
											   o projeto Costurando o Futuro, no Vicente Pinzón
											</p>
											<ul class="actions">
												<li><a 	href="https://www.fortaleza.ce.gov.br/noticias/prefeitura-de-fortaleza-entrega-10-atelie-colaborativo-do-projeto-costurando-o-futuro-no-vicente-pinzon" 
														target="_blank"
														class="button">Veja mais</a></li>
											</ul>
										</article>
										
										<article>
											<a href="https://www.fortaleza.ce.gov.br/noticias/sarto-entrega-11-atelie-colaborativo-do-projeto-costurando-o-futuro-no-canindezinho" 
											   target="_blank"												
											   class="image">
												<img src="{% static  "images/pic02.jpg" %}" alt="" />
											</a>	
											<p>	Sarto entrega 11º ateliê colaborativo do Projeto Costurando o Futuro, 
												no Canindezinho
											</p>
											<ul class="actions">
												<li><a 
													href="https://www.fortaleza.ce.gov.br/noticias/sarto-entrega-11-atelie-colaborativo-do-projeto-costurando-o-futuro-no-canindezinho" 
													target="_blank"												
													class="button">Veja mais</a></li>
											</ul>
										</article>
										
										
									</div>
							</section>

							<!-- Footer -->
							<footer id="footer">
								<p>Feito por <a href="#">rive art</a> </p>
							</footer>	

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Menu -->
								<nav id="MENU">
									<header class="major">	
										<h2>MENU</h2>
									</header>
									<ul>
										<li><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/menu/"> Menu </a> </li>
										<li><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/cronograma1/"> Cronograma 1 |   Grupo 1 </a> </li>
										<li><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/cronograma2/">Cronograma  2 |   Grupo 2 </a> </li>
										<li><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/materiais/">Materiais</a></li>
										<li><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/relatorios/">Relatorios</a></li>
										<li><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/dashboard/">Dashboard</a></li>
										<li><a href="{% url 'logout'%}?next={{request.path}}">Sair</a></li>
									</ul>
								</nav>
							
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static "assets/js/jquery.min.js"      %}" ></script>
			<script src="{% static "assets/js/browser.min.js"     %}"></script>
			<script src="{% static "assets/js/breakpoints.min.js" %}"></script>
			<script src="{% static "assets/js/util.js"            %}"></script>
			<script src="{% static "assets/js/main.js"            %}"></script>

	</body>
</html> 
