{%extends 'base_sistema.html'%}
{% load static %}
    {%block content%}   
        <div class="content">
            <section>

                <h3> Relatórios</h3>

                <ul>	<li> 								
                        <a href="rel_fac.docx" ><strong>Relatório de Facilitação</strong> </a>
                        </li>

                        <li>
                            <a href="rel_fac.docx" ><strong>Relatório de Acompanhamento</strong> </a>
                        </li>

                </ul>

            </section>
                    
        </div>
    {%endblock content%}